{
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}